<div class="mui-row">
    <div class="mui-col-md-4 mui-col-md-offset-4">
        <div class="mui-panel" style="margin-top: 300px;">
            {{#if message }}
                <div class="error">{{ message }}</div>
            {{/if }}
            <form method="POST" action="/signup" class="mui-form">
                <legend>Signup</legend>
                <div class="mui-textfield mui-textfield--float-label">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="mui-textfield mui-textfield--float-label">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="mui-textfield mui-textfield--float-label">
                    <input type="password" name="confirmPassword" required>
                    <label>Confirm Password</label>
                </div>
                <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Sign up</button>
                <a href="/login" class="mui-btn mui-btn--raised">Login</a>
            </form>
        </div>
    </div>
</div>